/* Estilos para telas com largura maior ou igual a 560px */
@media (min-width: 560px) {
  .portfolio .grid {
    grid-template-columns: repeat(2, 240px);
    justify-content: center;
  }
}

/* Estilos para telas com largura maior ou igual a 880px */
@media (min-width: 880px) {
  .portfolio .grid {
    grid-template-columns: repeat(3, 260px); 
    align-content: center;
    justify-content: center;
    height: auto; /* altura auto para acomodar o conteúdo */
  }
}

.portfolio .grid {
  display: grid;
  gap: 2em;
}

.portfolio h2 {
  font-family: 'Rubik', sans-serif;
  color: rgb(163, 218, 255);
  margin-bottom: 1em;
  font-size: 2em;
  text-align: center;
}

.works {
  height: auto; /* altura auto para acomodar o conteúdo */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.works h2 {
  font-family: 'Rubik', sans-serif;
  color: whitesmoke;
  margin-bottom: 1em;
  font-size: 50px;
  text-decoration: underline;
  text-decoration-color: rgb(130, 205, 255);
  text-align: center;
}

.carde {
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(#333, #333);
  transition: all .5s;
}
.carde .imge {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .8s;
  z-index: 0;
  position: relative;
  opacity: .8;
}

.carde .contente {
display: flex;
  padding: 0px 20px;
  height: 0;
  opacity: 0;
  transition: all .5s;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  transform: translateY(30px);
  text-align: center;
  justify-content: center;
  align-items: center;
}

.carde:hover .contente {
  height: 60px;
  padding: 20px;
  opacity: 1;
  transform: translateY(0);
}

.carde .contente .titlee {
font-family: 'Rubik', sans-serif;
color: whitesmoke;
font-size: 80%;
font-weight: 600;
}
.footer {
  height: 100px;
  color: whitesmoke;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
#milhas {
  background-image: url('../../img/others/milhas.png');
  background-size: cover;
  background-position: center;
}
#quilombo {
  background-image: url('../../img/others/quilombo.png');
  background-size: cover;
  background-position: center;
}
#cavalinho {
  background-image: url('../../img/others/cavalinho.png');
  background-size: cover;
  background-position: center;
}