/* soft reset do css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #252323;
  background-size: auto 100vh;
  font-family: "Source Code Pro", monospace;
  height: 100vh;
  font-size: 12px;
}

/* se a tela tiver pelo menos 400px vai carregar estes estilos */
@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}

/* breakpoint */
@media (min-width: 600px) {
  body {
    background-attachment: fixed;
    background-size: cover;
    font-size: 18px;
  }
}

/* breakpoint */
@media (min-width: 1200px) {
  body {
    font-size: 20px;
  }
}

@media (min-width: 1200px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
  }
}

.sobre h2,
.contato h2,
.portfolio h2 {
  font-family: "Rubik", sans-serif;
  color: rgb(163, 218, 255);
  font-size: 2em;
}

/* soft reset do css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /*background-image: url(https://i.pinimg.com/originals/05/7e/3b/057e3bd5a18feb378dc2f6c208e253c1.jpg);*/
  background-color: #252323;
  background-size: auto 100vh;
  font-family: "Source Code Pro", monospace;
  height: 100vh;
  font-size: 12px;
}
/* se a tela tiver pelo menos 400px vai carregar estes estilos */
@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}

/* breakpoint */
@media (min-width: 600px) {
  body {
    background-attachment: fixed;
    background-size: cover;
    font-size: 18px;
  }
}

/* breakpoint */
@media (min-width: 1200px) {
  body {
    font-size: 20px;
  }
}

.container2 {
  text-align: center;
}

.APP {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.APP hr {
  width: 40%;
  margin: 60px 0;
  color: #252323;
  border: 0px black;
}
